/* colores a utilizar 
    #f3ddb6 --- rosado bajito
    #f2efce --- piel bajo
    #d6bf93 --- café bajo
    #ced0ba  --- celeste grisadcio bajo
    ##532728 ---concho de vino

*/

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Fuente Lovan */
@font-face {
    font-family: 'Lovan';
    src: url('./Fuentes/Lovan.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #327dc9;
    background-color: #d6bf93;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


main{
    flex: 1; /* Empuja el footer hacia abajo */
    background-color: #f2efce;
    padding: 30px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1{
    background-color: #f2efce;
    padding: 10px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.crear-article{
    background-color: #2a3138;
    width: 380px;
    height: 230px;
    display: flex;
    justify-content:end;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.crear-article:hover{
    background-color: #532728;
    cursor: pointer;
    transform: scale(1.04);
}
.crear-article h2{
    padding: 10px;
    color: #dfdada;
    font-size: 40px;
    text-align: left;
    flex: 1;
    text-align: center;
    z-index: 1;
}

.imagen-article{
    position: absolute;
    width: 380px;
    height: 230px;
    object-fit: cover;   
    z-index: 0;        
    opacity: 0.3;  
    border-radius: 10px;    

}

.titulo-Principal{
    font-family: 'Lovan', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    font-size: 31px;
    width: fit-content;
    justify-content: center;
    margin-left: 25px;
}

header a{
    text-decoration: none;
}

.nav-link{
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-right: 25px;
}

.nav-link:hover{
    color: #680507;

}


footer{
    background-color: #d6bf93;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}
.footer-text{
    font-family: 'Lovan', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
}
