/* colores a utilizar 
    #f3ddb6 --- rosado bajito
    #f2efce --- piel bajo
    #d6bf93 --- café bajo
    #ced0ba  --- celeste grisadcio bajo
    ##532728 ---concho de vino

*/
header{
    background-color: #327dc9;
    background-color: #d6bf93;
    width: auto;
    height: 100px;
    justify-items: center;
    display: flex;
    color: turquoise;
}
.titulo-Principal{
    font-size: 2.5rem;
    color: #991212;
    font-size: 30px;
    padding: 10px;
    margin: 0;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

main{
    background-color: #f2efce;
    padding: 30px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1{
    background-color: #f2efce;
    padding: 10px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.crear-article{
    background-color: #2a3138;
    width: 380px;
    height: 230px;
    display: flex;
    justify-content:end;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.crear-article:hover{
    background-color: #532728;
    cursor: pointer;
    transform: scale(1.04);
}
.crear-article h2{
    padding: 10px;
    color: #dfdada;
    font-size: 40px;
    text-align: left;
    flex: 1;
    text-align: center;
    z-index: 1;
}

.imagen-article{
    position: absolute;
    width: 380px;
    height: 230px;
    object-fit: cover;   
    z-index: 0;        
    opacity: 0.3;  
    border-radius: 10px;    

}